@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body {
	width: 100vw;
	margin: 0;
}

body {
	background-color: #caccd6;
	line-height: 30px;
}

html,
body {
	height: 100%;
}

.all-sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20%;
	height: 100vh;
	background-color: #a0c3d9;
}

.all-sidebar .title-sidebar img {
	height: 3rem;
	margin: 1rem;
}

.all-sidebar .title-sidebar {
	position: relative;
	z-index: 2; 
	margin: 2rem;
}

.sidenav {
	position: fixed;
	width: 20%;
	height: 100%;
	background-color: #1e2027;
}

.sidenav .main-buttons {
	list-style-type: none;
	margin: 120px 0;
	padding: 0;
	color: #fff;
}

.sidenav .main-buttons li {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 600;
}

.sidenav .main-buttons>li {
	padding: 16px 47px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sidenav .main-buttons>li .fa {
	position: absolute;
	left: 12px;
	color: #414655;
}

.sidenav .main-buttons>li:hover,
.sidenav .main-buttons>li:active,
.sidenav .main-buttons>li:focus {
	background-color: #292c35;
	cursor: pointer;
}

.sidenav .main-buttons>li:hover .hidden,
.sidenav .main-buttons>li:active .hidden,
.sidenav .main-buttons>li:focus .hidden {
	width: 228px;
}

.hidden {
	width: 0;
	margin-top: 0;
	height: 100%;
	padding: 119px 0 0 0;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	list-style-type: none;
	background-color: #292c35;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.hidden li {
	padding: 16px 24px;
}


.sidenav .main-buttons > li .hidden {
	position: absolute;
	left: 100%;
	top: 0;
	z-index: -1; 
	width: 0;
	overflow: hidden;
	transition: 0.3s;
  }

.hidden li:hover,
.hidden li:active,
.hidden li:focus {
	background-color: #323541;
}

.content {
	padding: 1.5rem;
	margin-left: 20%;
}

#Copyright {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	text-align: center;
}